# Data Science Tools and Ecosystem

In this notebook, various Data Science Tools are listed though which one can easily be capable to understand the basic knowledge of the Data Science Tools and Ecosystem.As the Jupyter notebook deals with different languages, here python language is used in this Data Science and Ecosystem notebook.

### Some of the popular languages that the Data Scientists uses are listed below :-
1. Python
2. R
3. Julia
4. Java
5. Scala

### Libraries that are commonly used by the Data Scienctists are :-
- **For Scientific computing :** Pandas, Numpy
- **For visualization :** Seaborn, Matplotlib
- **For ML & Deep Learning :** Scikit-learn, Keras
- **For Deep learning :** Tensorflow, Pytorch

|**Data Science Tools**|
| -------------------- |
| Jupyter lab |
| Jupyter notebooks |
| R Studio |

### There are a few examples of evaluating arithmetic expressions in Python are given below :-

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# Here 200 minutes is converted into hours

min = 200
hours = min/60
print(hours)

3.3333333333333335

**Objectives:**
+ Popular languages used in Data Science
+ Commonly used libraries by Data Scientists
+ Some Data Science Tools
+ Some examples of arithmetic expressions in Python like
  1. multiply then add integers
  2. conversion of minutes into hours

## Author
Mohammad Areeb